@model IEnumerable<Web.DataAccess.Church> 
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Let's help you find your place of worship</h1>
    <p class="lead">FindTheChur.ch helps you find a church of Christ -- near, far, wherever you are.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find a church</h2>
        <p>
            Just put in your current location and we'll show you churches in your area. If you're visiting on a mobile device, we can even do this
            automatically. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Get started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Submit your church</h2>
        <p>
            If you are a member at a local congregation, sign in with your preferred social media account and submit your church's information to get
            listed! Then, your church's information will be ready and waiting for visitors that come to your area.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Submit a church &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What's the church</h2>
        <p>
            There are so many churches and denominations in the world today. Here's some resources about what is means to simply be a Christian.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>